@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #000;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --font-myfont: var(--font-myfont);
}

@font-face {
  font-family: "POWERGROTESK-REGULAR";
  src: url("/fonts/POWERGROTESK-REGULAR.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: #000;
  color: var(--foreground);
  font-family: "POWERGROTESK-REGULAR", Arial, Helvetica, sans-serif;
}